<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <title>rpgmaker mz jsClassFinder</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <style>
        .main {
            margin-left: 5rem;
            margin-top: 3rem;
        }
    </style>
</head>

<body>
    <div class="main">
        <div id="app">
            <h2>rpgmaker mz jsClassFinder</h2>
            <input v-model="classNameToFind" placeholder="class name">
            <input v-model="methodNameToFind" placeholder="method name">
            <button v-on:click="findClassMethod">find</button>
            <div v-for="(record, index) in foundRecord">
                <h3>{{record.className}}.{{record.methodName}}</h3>
                <textarea v-model="record.getList()" rows="7" cols="100"></textarea>
            </div>
        </div>
    </div>

    <script src="app.js"></script>
</body>

</html>