<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPGMakerMZSaveEditor</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="shortcut icon" href="#">
</head>

<body>
    <div id="app">
        <h1>
            RPGMakerMZSaveEditor
            <a href="https://floatingping.github.io/rpgmakerTools/RPGMakerMVSaveEditor/index.html">mv</a>
        </h1>
        Load mz save file:<input type="file" id="mzfileInput" accept=".rmmzsave">
        <hr>
        <template v-for="(actor, index) in actors">
            <div v-if="actor">
                <div>Actor{{index}}</div>
                name<input v-model="actor.name"><br>
                profile<input v-model="actor.profile"><br>
                exp<input v-model="actor.exp"><br>
                hp<input v-model="actor.hp"><br>
                mp<input v-model="actor.mp"><br>
                plusMHP<input v-model="actor.plusMHP"><br>
                plusMMP<input v-model="actor.plusMMP"><br>
                plusAtk<input v-model="actor.plusAtk"><br>
                plusDef<input v-model="actor.plusDef"><br>
                plusMat<input v-model="actor.plusMat"><br>
                plusMdf<input v-model="actor.plusMdf"><br>
                plusAgi<input v-model="actor.plusAgi"><br>
                plusLuk<input v-model="actor.plusLuk"><br>
                <hr>
            </div>
        </template>
        <div>gold<input v-model="gold"></div>
        <div>
            weapons<br>
            <textarea v-model="weaponsJson" rows="10" cols="50"></textarea>
            <input type="button" @click="obtainWeapons99" value="obtainWeapons99">
        </div>
        <div>
            armors<br>
            <textarea v-model="armorsJson" rows="10" cols="50"></textarea>
            <input type="button" @click="obtainArmors99" value="obtainArmors99">
        </div>
        <div>
            items<br>
            <textarea v-model="itemsJson" rows="10" cols="50"></textarea>
            <input type="button" @click="obtainItems99" value="obtainItems99">
        </div>
        <hr>
        <input type="button" @click="exportSaveDataAsync" value="exportSaveDataAsync">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <script>
        const PIXI = new Proxy({}, {
            get: function (obj, prop) {
                switch (prop) {
                    case "Renderer": return {
                        registerPlugin: function () { }
                    };
                    default:
                        return function () { };
                }
            },
        });
    </script>
    <script src="./js/mzLibs/libs/pako.min.js"></script>
    <script src="./js/mzLibs/rmmz_core.js"></script>
    <script src="./js/mzLibs/rmmz_managers.js"></script>
    <script src="./js/app.js"></script>
</body>

</html>