<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <title>tools</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <style>
        .main {
            margin-left: 5rem;
            margin-top: 3rem;
        }

        .width40 {
            display: inline-block;
            width: 40%;
        }
        .width20 {
            display: inline-block;
            width: 20%;
        }
    </style>
</head>

<body>
    <div class="main">
        <div id="app">
            <h2>data diff</h2>
            <hr>
            <div class="width40">
                dataA:<br>
                <textarea v-model="dataA" rows="10" cols="50"></textarea>
            </div>
            <div class="width40">
                dataB:<br>
                <textarea v-model="dataB" rows="10" cols="50"></textarea>
                <button v-on:click="runDiff">runDiff</button>
            </div>
            <br>
            <div class="width20">
                OR:<br>
                <textarea v-model="getKeyString(countsOR)" rows="10" cols="30"></textarea>
            </div>
            <div class="width20">
                AND:<br>
                <textarea v-model="getKeyString(countsAND)" rows="10" cols="30"></textarea>
            </div>
            <div class="width20">
                OnlyA:<br>
                <textarea v-model="getKeyString(countsOnlyA)" rows="10" cols="30"></textarea>
            </div>
            <div class="width20">
                OnlyB:<br>
                <textarea v-model="getKeyString(countsOnlyB)" rows="10" cols="30"></textarea>
            </div>
            <br>
            <div class="width20">
                countsOR:<br>
                <textarea v-model="getCountsString(countsOR)" rows="10" cols="30"></textarea>
            </div>
            <div class="width20">
                countsAND:<br>
                <textarea v-model="getCountsString(countsAND)" rows="10" cols="30"></textarea>
            </div>
            <div class="width20">
                countsOnlyA:<br>
                <textarea v-model="getCountsString(countsOnlyA)" rows="10" cols="30"></textarea>
            </div>
            <div class="width20">
                countsOnlyB:<br>
                <textarea v-model="getCountsString(countsOnlyB)" rows="10" cols="30"></textarea>
            </div>
            


        </div>
    </div>

    <script src="app.js?20220109a"></script>
</body>

</html>